{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="rounded-4 card" style="width: 28rem; margin:5rem auto ;">
        <form method="POST" id="form" enctype="multipart/form-data">
            <div class="card-body">

                <div class="card-header border-0">
                    <h4 class="card-title m-2">Select files and upload</h5>
                </div>
                <div class="from-group p-4">
                    {% csrf_token %}
                    {{form|crispy}}
                    <p>Please do not upload files larger than 200mb</p>
                </div>
                <div class="card-footer border-0">
                    <button type="submit" class="btn btn-primary m-2">Upload</button>
                    <div class="progress m-2 d-none" id="progress-bar-container" role="progressbar" aria-label="progress-bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" id="progress-bar"></div>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <!-- Modal -->
    <button type="button" id="modal-button" hidden data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    </button>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4">
                <div class="modal-header alert alert-success rounded-4 rounded-bottom-0" role="alert">
                    <h5>Upload Successful</h5>
                    <button type="button" id="modal-close-button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-muted d-flex justify-content-between align-items-baseline">
                    <span id="modal-link"></span>
                    <button type="button" class="btn" id="clip">
                        <h5><i class="bi bi-clipboard" id="clip-icon"></i></h5>
                    </button>
                </div>
                <div class="modal-footer mt-2 border-0 d-flex justify-content-start">
                    <p class="text-danger">Please note the link. It won't be visible again!!</p>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'fileshare/script.js' %}" type="text/javascript"></script>
{% endblock content %}
